Flask>=3.0.0
flask-sock>=0.7.0
yfinance>=0.2.36
psycopg2-binary>=2.9.9
# requests>=2.31.0          # For calling REST APIs (NewsAPI, Polygon, etc.)
# python-dotenv>=1.0.0      # For managing API keys via .env file
gunicorn==23.0.0